@{
    ViewBag.Title = "Scavenger Hunt Lists";
}

<style>
    .control-group {
        display: inline-block;
        vertical-align: top;
        background-color: white;
        text-align: left;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        padding: 30px;
        /*width: 200px;
        height: 210px;*/
        margin: 10px;
    }

    body {
        background-color: #be03fc;
    }

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }


    .control {
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 15px;
        cursor: pointer;
        font-size: 18px;
    }


    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }



    .control__indicator {
        position: absolute;
        top: 2px;
        left: 0;
        height: 20px;
        width: 20px;
        background: #E6E6E6;
    }

    .control:hover input ~ .control__indicator,
    .control input:focus ~ .control__indicator {
        background: #ccc;
    }

    .control input:checked ~ .control__indicator {
        background: #be03fc;
    }

    .control:hover input:not([disabled]):checked ~ .control__indicator,
    .control input:checked:focus ~ .control__indicator {
        background: #612375;
    }


    .control__indicator:after {
        content: '';
        position: absolute;
        display: none;
    }

    .control input:checked ~ .control__indicator:after {
        display: block;
    }

    .control--checkbox .control__indicator:after {
        left: 8px;
        top: 4px;
        width: 3px;
        height: 8px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }

    .control--checkbox input:disabled ~ .control__indicator:after {
        border-color: #7b7b7b;
    }
</style>

<div>
    <h1>Morgan vs. Katie</h1>
</div>
<div class="container">
    <div class="control-group">
        <h1>Morgan</h1>
        <div class="row">
            <div class="col-md-6">
                <label class="control control--checkbox">
                    Dog/Picture of your dog
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">
                    Item that starts with the letter "G"
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">
                    Book turned to page 34
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">
                    Nail Clippers
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">
                    Bottle Opener
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">
                    Something Green
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">
                    Picture with someone in My Bros
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
            </div>
            <div class="col-md-6">
                <label class="control control--checkbox">
                    Floss
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">
                    Serated Knife
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">
                    Calculator
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">
                    One Q-tip
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">
                    Salt
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">
                    Left Shoe
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">
                    Phi Lamb Shirt
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">
                    Something Blue
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
            </div>
        </div>
    </div>


    <div class="control-group">
        <h1>Katie</h1>
        <div class="row">
            <div class="col-md-6">
                <label class="control control--checkbox">
                    Dog/Picture of your dog
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">
                    Item that starts with the letter "G"
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">
                    Book turned to page 34
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">
                    Nail Clippers
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">
                    Bottle Opener
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">
                    Something Green
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">
                    Picture with someone from My Bros
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
            </div>
            <div class="col-md-6">
                <label class="control control--checkbox">
                    Floss
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">
                    Serated Knife
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">
                    Calculator
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">
                    One Q-tip
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">
                    Salt
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">
                    Left Shoe
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">
                    Phi Lamb Shirt
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--checkbox">
                    Something Blue
                    <input type="checkbox" />
                    <div class="control__indicator"></div>
                </label>
            </div>
        </div>
    </div>
</div>
